Pillow==9.3.0
decord==0.6.0
gradio==4.31.5
ninja==1.11.1.1
omegaconf==2.3.0
openai==1.14.2
pathos==0.3.2
prettytable
protobuf
pycocoevalcap
pycocotools
requests
safetensors
scikit-learn
scipy
tiktoken
flash_attn
transformers
triton
accelerate
